<h1>Crypto BookMark </h1>

<%# <% if logged_in? %> %>
  <%# <h2>Hey <%= current_user['first_name'] %></h2> %>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
<div class="new_coin"> 
<form action="/coins/new"><button>Add Coins item</button> </form>
</div>
<section class="coin_table">
  <table>
    <tr>
      <th colspan="2">Coin name</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th>1H</th>
      <th>24H</th>
      <th>1 Year</th>
      <th></th>
    </tr>


    <% coins[0].each_with_index do |coin, index  | %>
    <tr onclick="window.location='/coins/<%= coins[2][index]%>/edit';">
      <td><img class= "coin_images" src="<%= coin['png32'] %>" alt=""></td>
      <td><%= coin['name'] %></td>
      <td>$<%= coin['rate'] %></td>
      <td>$<%= coin['cap'] %></td>
      <td><%= coin['delta']['hour'] %>%</td>
      <td><%= coin['delta']['day'] %>%</td>
      <td><%= coin['delta']['year'] %>%</td>
      <td>   
        <form action="/coins/<%= coins[2][index] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
           <button>Delete</button>
          </form>
      </td>
    </tr>
   <% end %>
  </table>
  </section>


<%# <% else %> %>
  <%# <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Login</a>

  
<% end %> %>

