
<% if logged_in? %>
  <h2>Hey <%= current_user['first_name'] %></h2>
  <h1 class='dashBoard'>Welcome to your Crypto DashBoard</h1>
   <div class="logout">
        <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
      </form>
    </div>
  <section class="controls">
  <section class="coin_table">
    <table>
      <tr>
        <th colspan="2">Coin name</th>
        <th>Date</th>
        <th>Unit owned</th>
        <%# <th>1H</th>
        <th>24H</th>
        <th>1 Year</th> %>
        <th></th>
      </tr>
      <% coins['db_output'].each_with_index do |coin,index | %>
          <tr class="coin_table_row" onclick="window.location='/coins/<%= coins['db_output'][index]['id'] %>/info';">
            <td><%= coin['coin_code'] %></td>
            <td><%= coin['bought_date'] %></td>
            <td><%= coin['unit_amount'] %></td>
         <td>   
          <form action="/coins/<%= coins['db_output'][index]['id'] %>" method="POST">
              <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
            </form>
        </td>
        <td>
          <a href="/coins/<%= coins['db_output'][index]['id'] %>/info">View</a>
        </td>
      </tr>
    <% end %>
   
    </table>
    </section>

  <div class="new_coin"> 
  <form action="/coins/new"><button>Add Coins item</button> </form>
  </div>

  <% else %>
    <h1 class="logging_page_h1">Crypto Tracker</h1>
    <section class="logging_page_buttons">
      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Login</a> 
    </section>

<% end %>

