<h1>Crypto BookMark </h1>

<%# <% if logged_in? %> %>
  <%# <h2>Hey <%= current_user['first_name'] %></h2> %>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>

<a href="/coins/new">Add Coins item</a>
<section class="coin_table">

  <table>
    <tr>
      <th colspan="2">Coin name</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th>1H</th>
      <th>24H</th>
      <th>1 Year</th>
    </tr>

    <% coins[0].each do |coin| %>
    <p><%= coin[1] %></p>
    <tr>
      <td><a href="/coins/<%= coin[1] %>/edit"><img class= "coin_images" src="<%= coin['png32'] %>" alt=""></a></td>
      <td><%= coin['name'] %></td>
      <td>$<%= coin['rate'] %></td>
      <td>$<%= coin['cap'] %></td>
      <td><%= coin['delta']['hour'] %></td>
      <td><%= coin['delta']['day'] %></td>
      <td><%= coin['delta']['year'] %></td>
    </tr>
   <% end %>
  </table>
  </section>


<%# <% else %> %>
  <%# <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Login</a>

  
<% end %> %>

